body {
  background-color: #ffc300;
  font-family: "Oswald", sans-serif;
}
.video-wrapper {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  background-color: #000;
  justify-content: flex-end;
}
.nav_item {
  list-style-type: none;
}
.nav_link {
  color: #ffd60a;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}
.nav_link:hover {
  color: #ffc300;
}
.social-wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
}
.icons_links {
  width: 50px;
  /* padding: ; */
  margin: 20%;
}
.anchor-box {
  display: flex;
  justify-content: center;

  /* width: 30%; */
}

.video {
  width: 40%;
  /* height: 480px; */
}
.github-image-holder {
  display: flex;
  justify-content: center;
  width: 80em;
  height: 17em;

  border-radius: 50%;
  animation-name: img-ani;
  animation-delay: initial;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}
@keyframes img-ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.github-image {
  width: 20%;
  border-radius: 50%;
}
/* --------------------about----------------------- */
.buttons {
  border-radius: 3px;
}
/* --------------------Contact-------------------------- */
.announce {
  font-size: 10em;
}
.input_wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 5px;
  padding: 20px;
  /* shadows box */
  box-shadow: -25px -14px 86px -14px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: -25px -14px 86px -14px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -25px -14px 86px -14px rgba(0, 0, 0, 0.54);
}
.inputs {
  margin: 5px;
  border-radius: 5px;
  height: 40px;
}

/* modal */
.future-meetings {
  border-radius: 5px;
  margin-left: 55%;
  /* background-color: #000; */
}
.modal-window,
.modal-overlay {
  opacity: 0;
  z-index: -1;
}
.amodal {
}
.amodal.open .modal-overlay,
.amodal.open .modal-window {
  opacity: 1;
  z-index: 1000;
}
.amodal.hide .modal-overlay,
.amodal.hide .modal-window {
  opacity: 1;
  z-index: 1000;
}
.amodal.open .modal-window {
  transform: translateY(100px);
}
.amodal.open .modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.amodal.hide .modal-window {
  transform: translateY(-1000px);
}
.amodal.hide .modal-overlay {
  z-index: -1;
  background: rgba(0, 0, 0, 0);
}
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease-in;
}

.modal-window {
  /* display: flex; */
  justify-content: center;
  width: 80%;
  border-radius: 5px;
  background: #fff;
  margin: 0px auto;
  transform: translateY(-200px);
  transition: transform 0.2s ease-in;
}
.calendar {
  margin: 20px;
}
.modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.modal-title {
  font-size: 1.5rem;
}
.modal-close {
  cursor: pointer;
  font-size: 40px;
}
.modal-footer {
  padding: 5px 10px;
  border-top: 1px solid #eee;
}
.each-user-wrapper {
  display: flex;
  flex-direction: row;
}
.event {
  margin: 10px;
}
.modal-calendar {
  display: inline-flex;
}
.modal-wrapper-flex {
  display: flex;
  flex-direction: row;
}
